@using Application.ViewModels
@model Application.Pagination.PaginationInfoWithItems<ListFlightViewModel>

@{
    ViewData["Title"] = "Flights";
}

<h1>Admin-Flights</h1>

<partial name="_FlightListPartial" model="Model"/>
<partial name="_PageNavigationPartial"model="Model"></partial>