@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Find Your Perfect Flight</h1>
        <p class="lead text-center">Search and book flights with ease.</p>
        <hr class="my-4">
        <div class="form-container">
            <div class="container">
                <div class="my-2 card w-100 m-5">
                    <div class="card-body">
                        <h5 class="card-title">Locations</h5>
                        <div class="row">
                            <div class="col-sm">
                                <div class="mb-2">
                                    <label id="origin-label" for="origin-input" class="form-label">Origin</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi-pin-map"></i> </span>
                                        <input
                                            type="text"
                                            class="form-control"
                                            list="origin-options"
                                            id="origin-input"
                                            placeholder="Location"
                                            aria-describedby="origin-label"
                                        />
                                        <datalist id="origin-options"></datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="mb-2">
                                    <label id="destination-label" for="destination-input" class="form-label">Destination</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi-pin-map-fill"></i> </span>
                                        <input
                                            type="text"
                                            class="form-control"
                                            list="destination-options"
                                            id="destination-input"
                                            placeholder="Location"
                                            aria-describedby="destination-label"
                                        />
                                        <datalist id="destination-options"></datalist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="search-button" class="w-100 btn btn-primary mt-3">Search</button>
            </div>
        </div>
    </div>
    
</div>