@using Domain.Models
@using Airline_Ticket_Reservation.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Find Your Perfect Flight</h1>
        <p class="lead text-center">Search and book flights with ease.</p>
        <hr class="my-4">
        <div class="form-container">
            <div class="container">
                <a href="@Url.Action(nameof(FlightsController.Index), "Flights")" class="w-100 btn btn-primary mt-3">Search</a>
            </div>
        </div>
    </div>
    
</div>